{
    extends: "airbnb-base",
    plugins: [
        "import"
    ],
    rules: {
      quotes: ['single', 0],
      import/no-extraneous-dependencies: 0,
      no-console: 1,
      no-debugger: 1,
    }
}
